
  body {

  background: url('quarter1pic.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;

}
 nav {

  display: flex;
  align-items: center;
  justify-content: space-around
}
h1 {
    color: #c0ccc5
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  flex: 1;
  height: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 50px;
  width: 100%;
}
.icon {
  align-self: center;
}

label {
  color: #c0ccc5



}
form {
  align-self: flex-start;
}
select {
  width: 250px;
}
#infobox{
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-left: 80px;
}
#brewImage img{
  width: 250px;
  height: 250px;
  border: 1px solid #c0ccc5;
}
#brewDescription{
  display: none;
  color: white;
  background-color: black;
  border: 1px solid #c0ccc5;
  width: 250px;
  padding: 10px;
}

#brewWebsite{
  color: white;
  text-align: center;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid #c0ccc5;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: grey;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: grey;
}
